@import "tailwindcss";

/* width of scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track  of scrollbar */
::-webkit-scrollbar-track {
  background: radial-gradient(circle, #39006434, #6a107000);
  border-radius: 10px;
}

/* Handle of scrollbar */
::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, #a21caf, #a21caf, #9f1cab, #380064);
  border-radius: 10px;
}

/* Handle on hover of scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #d544eb81;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}
/* Botão arco-íris feito por samuka */
#arco-iris {
  background: linear-gradient(
    90deg,
    #ff00ff,
    #5900ff,
    #00aeff,
    #00ff40,
    #c8ff00,
    #ffae00,
    #ff0000
  );
  border-radius: 0.6rem;
  color: white;
  cursor: pointer;
  font-family: "Jacquard12", sans-serif;
  padding: 0.15rem 0.115rem;
  text-align: center;
}

.jacquard12 {
  font-family: "Jacquard12", sans-serif;
}

#jacquard12 {
  font-family: "Jacquard12", sans-serif;
}

.sunshiney {
  font-family: "Sunshiney", sans-serif;
}

#sunshiney {
  font-family: "Sunshiney", sans-serif;
}

@font-face {
  font-family: "Jacquard12";
  src: url("/fonts/Jacquard12-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sunshiney";
  src: url("/fonts/Sunshiney-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
}
html {
  min-width: 360px;
  color-scheme: auto;
}

hr {
  border: none;
  height: 0.25rem;
  background: linear-gradient(90deg, black, white, black);
  border-radius: 10px;
}

.prices-title {
  font-family: "Jacquard12", sans-serif;
  font-size: 5rem;
  -webkit-text-stroke: 0.5px #fafafa;

}

#prices-border {
  border: 0.2rem solid transparent;
  border-image: linear-gradient(
      180deg,
      #380064,
      #6A1070,
      #9F1CAB,
      #CE03BF
    )
    1;
  border-radius: 1rem;
}

#grid-border-top {
  border: 0.1rem solid transparent;
  border-image: linear-gradient(
      0deg,
      #380064,
      #6a1070,
      #a21caf,
      #a21caf,
      #9f1cab
    )
    1;
  border-radius: 1rem;
}

#grid-border-bottom {
  border: 0.1rem solid transparent;
  border-image: linear-gradient(
      180deg,
      #380064,
      #6a1070,
      #a21caf,
      #a21caf,
      #9f1cab
    )
    1;
  border-radius: 1rem;
}

.slogan {
  font-family: "Jacquard12", sans-serif;
  font-size: 7.5rem;
  line-height: 5rem;
  background: linear-gradient(90deg, #3b3b3b, #ffffff, #3b3b3b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.letreiro {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

#letreiro {
  font-size: 10rem;
  display: inline-block;
  animation: mover 60s linear infinite;
}

.text-fade {
  background: linear-gradient(240deg, #ce03bf, #9d1baa, #9d1baa);
  background-clip: text;
  -webkit-text-stroke: 0.5px #ce03bf;
  -webkit-text-fill-color: transparent;
}

@keyframes mover {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50.1%);
  }
}

#notification {
  line-height: 1.2rem;
}

#contactNow {
  background: linear-gradient(90deg, #380064, #6A1070, #9D1BAA, #CE03BF);
}

.neon {
  width: 17rem;
  height: 17rem;
  border-radius: 100%;
  background-color: #ce03bf;
  filter: blur(7rem);
  box-shadow: 0 0 50px #e704d8;
  z-index: -1;
}

#type {
  font-family: "Jacquard12", sans-serif;
  line-height: 3rem;
  border-right: solid 3px #ce03c188;
  white-space: nowrap;
  overflow: hidden;
}

#type {
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 1000ms steps(29, end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 472px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: #ce03c188;
  }
  to {
    border-right-color: transparent;
  }
}

.prose .anchor {
  position: absolute;
  visibility: hidden;
  text-decoration: none;
  margin-left: 1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 1200px;
  cursor: pointer;
}

.anchor:hover {
  visibility: visible;
}

.prose a {
  text-decoration: underline;
  transition: all;
  text-decoration-color: var(--decoration-neutral-400);
  color: var(--decoration-neutral-600);
}

.prose .anchor:after {
  color: var(--text-neutral-300);
  content: "#";
}

.prose *:hover > .anchor {
  visibility: visible;
}

.prose pre {
  background-color: var(--bg-neutral-50);
  color: var(--text-neutral-800);
  border-radius: 0.25rem;
  overflow-x: auto;
  border: 1px solid var(--border-neutral-200);
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.prose code {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.25rem;
}

.prose pre code {
  padding: 0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  font-weight: 500;
}

.prose img {
  margin: 0;
}

.prose p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--text-neutral-800);
}

.prose h1 {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.prose h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.prose h3 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.prose h4 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.prose strong {
  font-weight: 500;
}

.prose ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.prose ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  overflow: auto;
}

input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  overflow-wrap: balance;
}
