@import "tailwindcss";

/* width of scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track  of scrollbar */
::-webkit-scrollbar-track {
  background: radial-gradient(circle, #39006434, #6a107000);
  border-radius: 10px;
}

/* Handle of scrollbar */
::-webkit-scrollbar-thumb {
  background: radial-gradient(circle, #a21caf, #a21caf, #9f1cab, #380064);
  border-radius: 10px;
}

/* Handle on hover of scrollbar */
::-webkit-scrollbar-thumb:hover {
  background: #d544eb81;
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}
/* Botão arco-íris feito por samuka */
#arco-iris {
  background: linear-gradient(
    90deg,
    #ff00ff,
    #5900ff,
    #00aeff,
    #00ff40,
    #c8ff00,
    #ffae00,
    #ff0000
  );
  border-radius: 0.6rem;
  color: white;
  cursor: pointer;
  font-family: "Jacquard12", sans-serif;
  padding: 0.15rem 0.115rem;
  text-align: center;
}

.jacquard12 {
  font-family: "Jacquard12", sans-serif;
}

#jacquard12 {
  font-family: "Jacquard12", sans-serif;
}

.sunshiney {
  font-family: "Sunshiney", sans-serif;
}

#sunshiney {
  position: absolute;
  font-family: "Sunshiney", sans-serif;
}

@font-face {
  font-family: "Jacquard12";
  src: url("/fonts/Jacquard12-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sunshiney";
  src: url("/fonts/Sunshiney-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  min-width: 360px;
  color-scheme: auto;
}

hr {
  border: none;
  height: 0.25rem;
  background: linear-gradient(90deg, black, white, black);
  border-radius: 10px;
}

#purple-spiral {
  animation-name: spiral;
  animation-duration: 700s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spiral {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#arrow {
  position: absolute;
}

.prices-title {
  font-family: "Jacquard12", sans-serif;
  font-size: 5rem;
  -webkit-text-stroke: 0.5px #fafafa;
}

#prices-border {
  border: 0.2rem solid transparent;
  border-image: linear-gradient(180deg, #380064, #6a1070, #9f1cab, #ce03bf) 1;
  border-radius: 1rem;
}

#grid-border-top {
  border: 0.1rem solid transparent;
  border-image: linear-gradient(
      0deg,
      #380064,
      #6a1070,
      #a21caf,
      #a21caf,
      #9f1cab
    )
    1;
  border-radius: 1rem;
}

#grid-border-bottom {
  border: 0.1rem solid transparent;
  border-image: linear-gradient(
      180deg,
      #380064,
      #6a1070,
      #a21caf,
      #a21caf,
      #9f1cab
    )
    1;
  border-radius: 1rem;
}

.slogan {
  font-family: "Jacquard12", sans-serif;
  font-size: 7.5rem;
  line-height: 5rem;
  background: linear-gradient(90deg, #3b3b3b, #ffffff, #3b3b3b);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.letreiro {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

#letreiro {
  font-size: 10rem;
  display: inline-block;
  animation: mover 60s linear infinite;
}

.text-fade {
  background: linear-gradient(240deg, #ce03bf, #9d1baa, #9d1baa);
  background-clip: text;
  -webkit-text-stroke: 0.5px #ce03bf;
  -webkit-text-fill-color: transparent;
}

@keyframes mover {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50.1%);
  }
}

#notification {margin-left: 1.5rem; /* ml-6 */
  font-weight: 300;
  color: #d1d5db;
  font-size: 1rem;
  margin-right: 2.5rem;
  line-height: 1.2rem;
}
#notification strong {
  font-weight: 600;
  color: #ffffff;
  font-size: 1rem;
  line-height: 2rem;
}

#contactNow {
  background: linear-gradient(90deg, #380064, #6a1070, #9d1baa, #ce03bf);
}

.neon {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background-color: #ce03bf;
  filter: blur(5rem);
  box-shadow: 0 0 30px #e704d8;
  z-index: -1;
  position: absolute;
  top: 10%;
  left: 10%;
}

/* Consultas de mídia para telas médias */
@media (min-width: 768px) {
  .neon {
    width: 15rem;
    height: 15rem;
    filter: blur(6rem);
    box-shadow: 0 0 40px #e704d8;
    top: 20%;
    left: 20%;
  }
}

/* Consultas de mídia para telas grandes */
@media (min-width: 1024px) {
  .neon {
    width: 20rem;
    height: 20rem;
    filter: blur(7rem);
    box-shadow: 0 0 50px #e704d8;
    top: 30%;
    left: 30%;
  }
}
#type {
  font-family: "Jacquard12", sans-serif;
  line-height: 3rem;
  border-right: solid 3px #ce03c188;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

#type {
  animation: animated-text 4s steps(17, end) 1s 1 normal both,
    animated-cursor 1000ms steps(17, end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: #ce03c188;
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 767px) {
  #type {
    font-size: 3.5rem;
    line-height: 2.4rem;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #type {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  #type {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .prices-title {
    font-size: 4rem; /* Aumenta o tamanho do texto em telas médias */
  }

  #prices-border {
    border-width: 0.3rem; /* Aumenta a largura da borda em telas médias */
  }

  #grid-border-top {
    border-width: 0.2rem; /* Aumenta a largura da borda em telas médias */
  }
}

@media (min-width: 1024px) {
  .prices-title {
    font-size: 5rem; /* Aumenta ainda mais o tamanho do texto em telas grandes */
  }

  #prices-border {
    border-width: 0.4rem; /* Aumenta ainda mais a largura da borda em telas grandes */
  }

  #grid-border-top {
    border-width: 0.3rem; /* Aumenta ainda mais a largura da borda em telas grandes */
  }
}